<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сайт переехал</title>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
</head>
<body>

<br><br><br><h1><center>👋Привет тебе, посетитель!</center></h1>

<h3><center>Сайт по озвучке текста переехал и доступен теперь ↪️<a href="https://rashprojs.ru/voiceworker/">тут<a></center></h3>




</body>
</html>